<div class="container">
    
    <div class="row justify-content-center">
        <h2>Reactive Form</h2>
        <div class="col-md-6 text-left rounded shadow py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
                <div formGroupName="userDeatils">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter user name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter email address">
                    <small class="text-danger" *ngIf="!myReactiveForm.get('userDeatils.email').valid && myReactiveForm.get('userDeatils.email').touched">Please enter valid email</small>
                </div>
            </div>
                <br>
                <label for="Course">Course</label>
                <div class="form-group">
                    <select  formControlName="course" id="course">
                   <option>Angular</option>
                   <option>HTML</option>
                   <option>Javascript</option>
                    </select>

                </div>
                <br>
                <h6>Gender</h6>
                <div class="form-group" *ngFor="let gender of genders">
                    <!-- <input type="radio" formControlName="gender" class="form-control" id="1" > -->

                    <input type="radio" formControlName="genders"  id="gender" value="{{gender.value}}" ngModel
                class="custom-control custom-radio">
                <label for="{{gender.id}}">{{gender.value}}</label>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="row justify-content-center mt-2" *ngIf="isSubmitted">
                <div class="col-md-6 rounded shadow py4">
                  <h2>Form Data</h2>
                  <p>Username: <strong>  {{ myReactiveForm.get('userDeatils.username').value}}</strong></p>
                  <p>Email: <strong>  {{ myReactiveForm.get('userDeatils.email').value}}</strong></p>
                  <p>Gender: <strong>  {{ myReactiveForm.get('genders').value}}</strong></p>
                  <p>Course: <strong>  {{ myReactiveForm.get('course').value}}</strong></p>

                </div>
            </div>
        </div>
    </div>
</div>