<p class="fashion">BOYS FASHION !!!</p>
<div class="card" >
    <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
    <img class="card-img-top" src="../../assets/fashion/boysss.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Boys</h5>
      <p class="card-text"> 
        Casual fancy dress styles for kids 
        <strong>Price : ₹ 1,956+</strong><br>
        Local taxes included (where applicable)
      </p>
      <a routerLink="boys" class="btn btn-primary">Boys</a>
    </div>
</div>
<div class="card" >
  <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
  <img class="card-img-top" src="../../assets/fashion/boys1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Boys</h5>
    <p class="card-text"> 
      Formals with rocking dress wears for little boys age 6 years to 7 years <br>
      <strong>Price : ₹ 1,364+</strong><br>
        Local taxes included (where applicable)
    </p>
    <a routerLink="boys" class="btn btn-primary">Boys</a>
  </div>
</div>
<div class="card" >
  <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
  <img class="card-img-top" src="../../assets/fashion/boys2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Boys</h5>
    <p class="card-text"> 
      Preety formals, looking rocking and cool
      <strong>Price : ₹ 2,561+</strong><br>
        Local taxes included (where applicable)
    </p>
    <a routerLink="boys" class="btn btn-primary">Boys</a>
  </div>
</div>
<div class="card" >
  <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
  <img class="card-img-top" src="../../assets/fashion/boys3.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Boys</h5>
    <p class="card-text"> 
      Preety and handsome formals, looking rocking and cool <br>
      <strong>Price : ₹ 2,654+</strong><br>
        Local taxes included (where applicable)
    </p>
    <a routerLink="boys" class="btn btn-primary">Boys</a>
  </div>
</div>