<p class="fashion">KIDS FASHION !!!</p>

<div class="card" >
    <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
    <img class="card-img-top" src="../../assets/fashion/kids.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kids</h5>
      <p class="card-text">
        Daily use Little kids short dresses for summers<br>
        <strong>Price : ₹ 1,405+</strong><br>
        Local taxes included (where applicable)
      </p>
      <a routerLink="kids" class="btn btn-primary">Kids</a>
    </div>
</div>


<div class="card" >
  <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
  <img class="card-img-top" src="../../assets/fashion/kid2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kids</h5>
    <p class="card-text">Hand made Designer kids pink frock for 1 to 2 years<br>
      <strong>Price : ₹ 2,018+</strong><br>
      Local taxes included (where applicable)</p>
    <a routerLink="kids" class="btn btn-primary">Kids</a>
  </div>
</div>

<div class="card" >
  <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
  <img class="card-img-top" src="../../assets/fashion/kid3.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kids</h5>
    <p class="card-text">Rocking dress wears for little kids age 1 year to 2years<br>
      
      <strong>Price : ₹ 5,054+</strong><br>
      Local taxes included (where applicable)</p>
    <a routerLink="kids" class="btn btn-primary">Kids</a>
  </div>
</div>
<div class="card" >
  <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
  <img class="card-img-top" src="../../assets/fashion/kid1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kids</h5>
    <p class="card-text">Hand made Designer kids pink frock for 1 to 2 years<br>
      
      <strong>Price : ₹ 1,165+</strong><br>
      Local taxes included (where applicable)</p>
    <a routerLink="kids" class="btn btn-primary">Kids</a>
  </div>
</div>
