<!-- <p class="testcolor">test2 works!</p>

<button (click)=" onButtonClick()">Click Me</button>
<p>Count is={{count}}</p>
<input type="text" (keyup)="onKeyUp($event)">

<h1>Two way databinding</h1>

<input type="text" [(ngModel)]="firstName">

  {{firstName}} -->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>Child To Parent - @Output Directive - EventEmitter Hands On</h4>
<br>

<label><b>First Name </b>: {{fName}} </label><br>
<label><b>Last Name </b>: {{lName}}</label><br>
<label><b>Mobile Number </b>: {{MobileNo}}</label><br>
<label><b>Email Id </b>: {{emailId}}</label><br>
<label><b>City </b>: {{city}}</label><br>
<label><b>Pincode </b>: {{Pincode}}</label><br><br><br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-primary" (click)="sendToParent()">Click Me From Child</button>

