.bgc {
    background-color: aqua;
}
.fontColor {
    color: blueviolet;
}
.titleFontColor {
    color: green;
}
.testcolor {
    color: red;
}
.abc{
    color: purple;
}
.comp{
    margin-left: 50px;
}