<!-- 
<header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/kid" class="nav-link">Kids</a></li>
        <li class="nav-item"><a  routerLinkActive="active" routerLink="/girls" class="nav-link">Girls</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/boys" class="nav-link">Boys</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/fashion" class="nav-link">Fashion</a></li>
        
      </ul>
    </nav>
  </header> -->
