<p class="fashion">GIRLS FASHION !!!</p>

<div class="card" >
    <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
    <img class="card-img-top" src="../../assets/fashion/ladies.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Girls</h5>
      <p class="card-text">Indian Girl Dress, One pice for Girls, Taffeta Satin, Semi-Stitched Girl's Lehenga Choli<br>
        <strong>Price : ₹ 1,218+</strong><br>
        Local taxes included (where applicable)
        <p>
      <a routerLink="girls" class="btn btn-primary">Girls</a>
    </div>
</div>
<div class="card" >
  <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
  <img class="card-img-top" src="../../assets/fashion/girl1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Girls</h5>
    <p class="card-text">
      Punjabi fancy dresses for girls 5 years to 7 yers<br>
      <strong>Price : ₹ 2,018+</strong><br>
        Local taxes included (where applicable)
    </p>
    <a routerLink="girls" class="btn btn-primary">Girls</a>
  </div>
</div>
  
  <div class="card" >
    <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
    <img class="card-img-top" src="../../assets/fashion/girl2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Girls</h5>
      <p class="card-text"> style Punjabi, georgious dresses for girls 4 years to 7 yers<br>
        <strong>Price : ₹ 1,800+</strong><br>
        Local taxes included (where applicable)
      </p>
      <a routerLink="girls" class="btn btn-primary">Girls</a>
    </div>
</div>
<div class="card" >
  <a routerLinkActive="active" routerLink="/fashion"  class="btn btn-success" >Back </a>
  <img class="card-img-top" src="../../assets/fashion/girl3.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Girls</h5>
    <p class="card-text">Indian Girl Dress, Punjabi fancy dresses for girls 6 years to 7 yers<br>
      <strong>Price : ₹ 2,018+</strong><br>
        Local taxes included (where applicable)
    </p>
    <a routerLink="girls" class="btn btn-primary">Girls</a>
  </div>
</div>
