<p>userpostdetails works!</p>

<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Website</th>
                        <!-- <th>Company</th> -->
                        <!-- <th>Address</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       
                    <td>{{arruser.id}}</td>
                    <td>{{arruser.name}}</td>
                    <td>{{arruser.username}}</td>
                    <td>{{arruser.email}}</td>
                    <td>{{arruser.phone}}</td>
                    <td>{{arruser.website}}</td>
                    <!-- <td>{{arruser.company}}</td> -->
                    <!-- <td>{{arruser.address}}</td> -->
                    </tr>
                    
                </tbody>
            </table>
            <div>
                <a routerLink="/user" class="btn btn-success" >Back To User</a>
            </div>
        </div>
    </div>
</div>